In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('titanic_data.csv')

In [3]:
df

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",2,male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.0000,C148,C,1
890,891,"Dooley, Mr. Patrick",3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [9]:
df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis= 'columns', inplace= True)

In [10]:
df

     Pclass     Sex   Age     Fare  Survived
0         3    male  22.0   7.2500         0
1         1  female  38.0  71.2833         1
2         3  female  26.0   7.9250         1
3         1  female  35.0  53.1000         1
4         3    male  35.0   8.0500         0
..      ...     ...   ...      ...       ...
886       2    male  27.0  13.0000         0
887       1  female  19.0  30.0000         1
888       3  female   NaN  23.4500         0
889       1    male  26.0  30.0000         1
890       3    male  32.0   7.7500         0

[891 rows x 5 columns]

In [11]:
inputs = df.drop('Survived', axis = 'columns')
target = df.Survived

In [12]:
inputs

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [13]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [16]:
dummies = pd.get_dummies(inputs.Sex)
dummies

     female   male
0     False   True
1      True  False
2      True  False
3      True  False
4     False   True
..      ...    ...
886   False   True
887    True  False
888    True  False
889   False   True
890   False   True

[891 rows x 2 columns]

In [18]:
inputs = pd.concat([inputs, dummies], axis = 'columns')
inputs

     Pclass     Sex   Age     Fare  female   male
0         3    male  22.0   7.2500   False   True
1         1  female  38.0  71.2833    True  False
2         3  female  26.0   7.9250    True  False
3         1  female  35.0  53.1000    True  False
4         3    male  35.0   8.0500   False   True
..      ...     ...   ...      ...     ...    ...
886       2    male  27.0  13.0000   False   True
887       1  female  19.0  30.0000    True  False
888       3  female   NaN  23.4500    True  False
889       1    male  26.0  30.0000   False   True
890       3    male  32.0   7.7500   False   True

[891 rows x 6 columns]

In [19]:
inputs.drop('Sex', axis = 'columns', inplace= True)
inputs

     Pclass   Age     Fare  female   male
0         3  22.0   7.2500   False   True
1         1  38.0  71.2833    True  False
2         3  26.0   7.9250    True  False
3         1  35.0  53.1000    True  False
4         3  35.0   8.0500   False   True
..      ...   ...      ...     ...    ...
886       2  27.0  13.0000   False   True
887       1  19.0  30.0000    True  False
888       3   NaN  23.4500    True  False
889       1  26.0  30.0000   False   True
890       3  32.0   7.7500   False   True

[891 rows x 5 columns]

In [20]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [23]:
inputs['Age'] = inputs.Age.fillna(inputs.Age.mean())
inputs

     Pclass        Age     Fare  female   male
0         3  22.000000   7.2500   False   True
1         1  38.000000  71.2833    True  False
2         3  26.000000   7.9250    True  False
3         1  35.000000  53.1000    True  False
4         3  35.000000   8.0500   False   True
..      ...        ...      ...     ...    ...
886       2  27.000000  13.0000   False   True
887       1  19.000000  30.0000    True  False
888       3  29.699118  23.4500    True  False
889       1  26.000000  30.0000   False   True
890       3  32.000000   7.7500   False   True

[891 rows x 5 columns]

In [44]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(inputs, target, test_size=0.2)

In [45]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [46]:
model.fit(x_train, y_train)

GaussianNB()

In [47]:
model.predict(x_test)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 0], dtype=int64)

In [48]:
model.score(x_test, y_test)

0.7821229050279329

In [38]:
df

     Pclass     Sex   Age     Fare  Survived
0         3    male  22.0   7.2500         0
1         1  female  38.0  71.2833         1
2         3  female  26.0   7.9250         1
3         1  female  35.0  53.1000         1
4         3    male  35.0   8.0500         0
..      ...     ...   ...      ...       ...
886       2    male  27.0  13.0000         0
887       1  female  19.0  30.0000         1
888       3  female   NaN  23.4500         0
889       1    male  26.0  30.0000         1
890       3    male  32.0   7.7500         0

[891 rows x 5 columns]

In [39]:
inputs

     Pclass        Age     Fare  female   male
0         3  22.000000   7.2500   False   True
1         1  38.000000  71.2833    True  False
2         3  26.000000   7.9250    True  False
3         1  35.000000  53.1000    True  False
4         3  35.000000   8.0500   False   True
..      ...        ...      ...     ...    ...
886       2  27.000000  13.0000   False   True
887       1  19.000000  30.0000    True  False
888       3  29.699118  23.4500    True  False
889       1  26.000000  30.0000   False   True
890       3  32.000000   7.7500   False   True

[891 rows x 5 columns]

In [49]:
y_test[:10]

718    0
197    0
491    0
790    0
99     0
124    0
867    0
92     0
464    0
154    0
Name: Survived, dtype: int64

In [50]:
model.predict(x_test[:10])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [51]:
model.predict_proba(x_test)

array([[9.89697378e-01, 1.03026224e-02],
       [9.89896615e-01, 1.01033853e-02],
       [9.87789837e-01, 1.22101625e-02],
       [9.89493471e-01, 1.05065294e-02],
       [9.76865653e-01, 2.31343469e-02],
       [6.42501356e-01, 3.57498644e-01],
       [8.67220141e-01, 1.32779859e-01],
       [8.15001473e-01, 1.84998527e-01],
       [9.89511538e-01, 1.04884622e-02],
       [9.89465604e-01, 1.05343962e-02],
       [3.22688227e-03, 9.96773118e-01],
       [9.76520420e-01, 2.34795796e-02],
       [9.74851726e-01, 2.51482738e-02],
       [3.86137430e-02, 9.61386257e-01],
       [5.14090729e-02, 9.48590927e-01],
       [5.21002143e-02, 9.47899786e-01],
       [9.76539962e-01, 2.34600378e-02],
       [9.87146439e-01, 1.28535609e-02],
       [5.23249256e-02, 9.47675074e-01],
       [9.80540715e-01, 1.94592849e-02],
       [4.82114998e-02, 9.51788500e-01],
       [2.82244256e-02, 9.71775574e-01],
       [9.78095660e-01, 2.19043396e-02],
       [1.76043549e-03, 9.98239565e-01],
       [2.38566984e-02, 9.76143302e-01],
       [9.89549436e-01, 1.04505637e-02],
       [9.89493471e-01, 1.05065294e-02],
       [9.86256987e-01, 1.37430129e-02],
       [9.75202496e-01, 2.47975041e-02],
       [7.96736892e-03, 9.92032631e-01],
       [9.14617356e-01, 8.53826438e-02],
       [9.89502357e-01, 1.04976433e-02],
       [2.29890310e-02, 9.77010969e-01],
       [9.88961179e-01, 1.10388214e-02],
       [1.14001972e-02, 9.88599803e-01],
       [1.05444693e-03, 9.98945553e-01],
       [2.67337429e-02, 9.73266257e-01],
       [1.26270138e-02, 9.87372986e-01],
       [3.53903827e-07, 9.99999646e-01],
       [2.42307874e-02, 9.75769213e-01],
       [5.13738506e-02, 9.48626149e-01],
       [9.89460093e-01, 1.05399073e-02],
       [9.78138676e-01, 2.18613243e-02],
       [2.14426729e-01, 7.85573271e-01],
       [9.52010662e-01, 4.79893382e-02],
       [9.89459813e-01, 1.05401869e-02],
       [1.87963135e-02, 9.81203687e-01],
       [9.78119143e-01, 2.18808565e-02],
       [4.98908053e-02, 9.50109195e-01],
       [9.03289696e-01, 9.67103042e-02],
       [9.78643116e-01, 2.13568840e-02],
       [1.72478514e-06, 9.99998275e-01],
       [5.20014331e-02, 9.47998567e-01],
       [2.43309657e-02, 9.75669034e-01],
       [5.01484371e-02, 9.49851563e-01],
       [9.87839155e-01, 1.21608450e-02],
       [1.16662229e-03, 9.98833378e-01],
       [9.89000309e-01, 1.09996909e-02],
       [4.14585303e-02, 9.58541470e-01],
       [3.70531847e-02, 9.62946815e-01],
       [2.14391341e-02, 9.78560866e-01],
       [9.71697055e-01, 2.83029447e-02],
       [9.87634370e-01, 1.23656296e-02],
       [5.23513691e-02, 9.47648631e-01],
       [2.28862206e-02, 9.77113779e-01],
       [9.76121628e-01, 2.38783724e-02],
       [5.09235988e-07, 9.99999491e-01],
       [9.88055072e-01, 1.19449284e-02],
       [9.89493471e-01, 1.05065294e-02],
       [9.89806561e-01, 1.01934393e-02],
       [5.24023238e-02, 9.47597676e-01],
       [9.89461475e-01, 1.05385250e-02],
       [5.38168863e-05, 9.99946183e-01],
       [9.72900616e-01, 2.70993838e-02],
       [1.05587662e-03, 9.98944123e-01],
       [9.89600045e-01, 1.03999551e-02],
       [9.90059816e-01, 9.94018439e-03],
       [7.75274375e-01, 2.24725625e-01],
       [4.64424298e-02, 9.53557570e-01],
       [4.21222666e-02, 9.57877733e-01],
       [5.37320630e-02, 9.46267937e-01],
       [5.14318418e-02, 9.48568158e-01],
       [5.24733914e-02, 9.47526609e-01],
       [2.52510969e-02, 9.74748903e-01],
       [4.17368827e-04, 9.99582631e-01],
       [9.89123504e-01, 1.08764962e-02],
       [9.89915273e-01, 1.00847271e-02],
       [9.87830099e-01, 1.21699006e-02],
       [2.18255317e-02, 9.78174468e-01],
       [9.89196714e-01, 1.08032863e-02],
       [9.89740686e-01, 1.02593136e-02],
       [9.88343761e-01, 1.16562388e-02],
       [9.89479165e-01, 1.05208349e-02],
       [9.87551375e-01, 1.24486249e-02],
       [9.74777654e-01, 2.52223462e-02],
       [5.23924090e-02, 9.47607591e-01],
       [9.10634269e-01, 8.93657307e-02],
       [3.65462324e-05, 9.99963454e-01],
       [2.52515312e-02, 9.74748469e-01],
       [5.15180237e-02, 9.48481976e-01],
       [9.71779913e-01, 2.82200872e-02],
       [2.50518521e-02, 9.74948148e-01],
       [9.76996009e-01, 2.30039906e-02],
       [9.89534774e-01, 1.04652255e-02],
       [9.87887390e-01, 1.21126099e-02],
       [9.71030439e-01, 2.89695606e-02],
       [9.88774975e-01, 1.12250248e-02],
       [4.33165294e-04, 9.99566835e-01],
       [1.29352500e-05, 9.99987065e-01],
       [9.07150116e-01, 9.28498845e-02],
       [3.53881974e-07, 9.99999646e-01],
       [1.15241039e-05, 9.99988476e-01],
       [9.82086581e-01, 1.79134194e-02],
       [5.23513691e-02, 9.47648631e-01],
       [9.88112874e-01, 1.18871258e-02],
       [6.02199769e-01, 3.97800231e-01],
       [9.84477837e-01, 1.55221630e-02],
       [9.89697378e-01, 1.03026224e-02],
       [9.89460093e-01, 1.05399073e-02],
       [9.88054652e-01, 1.19453483e-02],
       [9.89548457e-01, 1.04515425e-02],
       [9.87847744e-01, 1.21522562e-02],
       [9.86338056e-01, 1.36619445e-02],
       [9.78269086e-01, 2.17309138e-02],
       [9.77334042e-01, 2.26659577e-02],
       [5.37428208e-02, 9.46257179e-01],
       [8.21864783e-04, 9.99178135e-01],
       [3.93122298e-02, 9.60687770e-01],
       [4.87275007e-02, 9.51272499e-01],
       [2.37002331e-02, 9.76299767e-01],
       [8.95881472e-01, 1.04118528e-01],
       [9.89732884e-01, 1.02671163e-02],
       [1.88762042e-02, 9.81123796e-01],
       [2.22428299e-02, 9.77757170e-01],
       [5.72673522e-10, 9.99999999e-01],
       [1.65764432e-04, 9.99834236e-01],
       [2.24408300e-02, 9.77559170e-01],
       [6.13089858e-03, 9.93869101e-01],
       [9.89502357e-01, 1.04976433e-02],
       [2.31549525e-02, 9.76845047e-01],
       [9.88346550e-01, 1.16534501e-02],
       [5.98549216e-03, 9.94014508e-01],
       [9.89281518e-01, 1.07184818e-02],
       [2.37002331e-02, 9.76299767e-01],
       [8.94674006e-01, 1.05325994e-01],
       [9.89502357e-01, 1.04976433e-02],
       [1.14851421e-05, 9.99988515e-01],
       [8.78337162e-01, 1.21662838e-01],
       [1.15091962e-01, 8.84908038e-01],
       [5.14090729e-02, 9.48590927e-01],
       [8.33234578e-01, 1.66765422e-01],
       [9.74851726e-01, 2.51482738e-02],
       [9.82493603e-01, 1.75063969e-02],
       [8.59976450e-01, 1.40023550e-01],
       [9.77077869e-01, 2.29221313e-02],
       [9.87873027e-01, 1.21269727e-02],
       [9.89511538e-01, 1.04884622e-02],
       [9.89583286e-01, 1.04167139e-02],
       [5.12529743e-02, 9.48747026e-01],
       [1.73443879e-46, 1.00000000e+00],
       [9.89511538e-01, 1.04884622e-02],
       [3.09581117e-10, 1.00000000e+00],
       [4.76446841e-02, 9.52355316e-01],
       [9.89699210e-01, 1.03007902e-02],
       [9.89160064e-01, 1.08399364e-02],
       [3.49846788e-03, 9.96501532e-01],
       [4.60326471e-02, 9.53967353e-01],
       [1.29790165e-05, 9.99987021e-01],
       [9.87479000e-01, 1.25209999e-02],
       [9.89699210e-01, 1.03007902e-02],
       [9.89949202e-01, 1.00507984e-02],
       [9.75532510e-01, 2.44674901e-02],
       [1.88687160e-02, 9.81131284e-01],
       [9.87777460e-01, 1.22225395e-02],
       [5.14042391e-02, 9.48595761e-01],
       [1.39108845e-11, 1.00000000e+00],
       [9.12916232e-01, 8.70837681e-02],
       [9.90135422e-01, 9.86457829e-03],
       [9.12871686e-01, 8.71283142e-02]])