In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv('purchase.csv.zip')
df1

        PURCHASE_DATE    MAGIC_KEY  BOX_ID  BOX_COUNT
0            1/2/2019  2CED678A247    12.0        1.0
1            1/2/2019  2BF58D91BA1    12.0        1.0
2            1/2/2019  2C15B86534E    99.0        1.0
3            1/2/2019  2C32D9A859A     6.0        1.0
4            1/2/2019  2C7A55404D1     4.0        1.0
...               ...          ...     ...        ...
2455859    28/10/2018  2BD992B5538    12.0        1.0
2455860    28/10/2018  2C97CD72233    17.0        1.0
2455861    28/10/2018  2C91C61D372    40.0        1.0
2455862    28/10/2018  2CD70CFC4E3    51.0        1.0
2455863    28/10/2018  2C4792A5B84     4.0        1.0

[2455864 rows x 4 columns]

In [3]:
df1.isna().sum()

PURCHASE_DATE     0
MAGIC_KEY         0
BOX_ID           47
BOX_COUNT        47
dtype: int64

In [4]:
df2 = pd.read_csv('boxes.csv')
df2

     BOX_ID   QUALITY                  DELIVERY_OPTION  MILK  MEAT  UNIT_PRICE
0         1   Premium              Home Delivery - CoD   0.0   2.7        9.96
1         2   Premium              Home Delivery - CoD   0.0   2.3       11.96
2         3   Premium              Home Delivery - CoD   0.0   2.4       11.96
3         4   Premium              Home Delivery - CoD   0.0   2.5       11.96
4         5   Premium              Home Delivery - CoD   0.0   2.6       11.96
..      ...       ...                              ...   ...   ...         ...
285     286  Standard  Home Delivery - Digital Payment   0.0   4.0       15.96
286     287  Standard  Home Delivery - Digital Payment   0.0   2.9       15.96
287     288  Standard  Home Delivery - Digital Payment   0.0   3.6       15.96
288     289  Standard  Home Delivery - Digital Payment   0.0   4.7       15.96
289     290  Standard  Home Delivery - Digital Payment  12.0   1.8       19.98

[290 rows x 6 columns]

In [5]:
merge_df = pd.merge(df1, df2, on='BOX_ID', how='left')

In [6]:
merge_df

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
0,1/2/2019,2CED678A247,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
1,1/2/2019,2BF58D91BA1,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
2,1/2/2019,2C15B86534E,99.0,1.0,Premium,Delivery from Collection Point,0.0,3.3,13.96
3,1/2/2019,2C32D9A859A,6.0,1.0,Premium,Home Delivery - CoD,0.0,2.7,11.96
4,1/2/2019,2C7A55404D1,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96
...,...,...,...,...,...,...,...,...,...
2455859,28/10/2018,2BD992B5538,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
2455860,28/10/2018,2C97CD72233,17.0,1.0,Premium,Home Delivery - CoD,10.0,1.8,12.98
2455861,28/10/2018,2C91C61D372,40.0,1.0,Premium,Home Delivery - CoD,12.0,1.8,19.98
2455862,28/10/2018,2CD70CFC4E3,51.0,1.0,Premium,Home Delivery - CoD,18.0,2.9,23.98
2455863,28/10/2018,2C4792A5B84,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96

In [7]:
merge_df.isna(). sum()

PURCHASE_DATE       0
MAGIC_KEY           0
BOX_ID             47
BOX_COUNT          47
QUALITY            64
DELIVERY_OPTION    64
MILK               64
MEAT               64
UNIT_PRICE         64
dtype: int64

In [8]:
merge_df['PURCHASE_DATE'] = pd.to_datetime(merge_df['PURCHASE_DATE'], format="%d/%m/%Y")

# Filter purchases made in the first 15 days of March 2019
march_purchases_df = merge_df[(merge_df['PURCHASE_DATE'] >= '01/03/2019') &
                               (merge_df['PURCHASE_DATE'] <= '15/03/2019')]

In [35]:
march_purchases_df.head(1000)

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
0,2019-02-01,2CED678A247,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
1,2019-02-01,2BF58D91BA1,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
2,2019-02-01,2C15B86534E,99.0,1.0,Premium,Delivery from Collection Point,0.0,3.3,13.96
3,2019-02-01,2C32D9A859A,6.0,1.0,Premium,Home Delivery - CoD,0.0,2.7,11.96
4,2019-02-01,2C7A55404D1,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96
...,...,...,...,...,...,...,...,...,...
995,2019-02-01,2C5B6E36616,118.0,1.0,Premium,Delivery from Collection Point,8.0,1.3,15.98
996,2019-02-01,2CC4173C3EF,118.0,1.0,Premium,Delivery from Collection Point,8.0,1.3,15.98
997,2019-02-01,2BD8C10D856,118.0,1.0,Premium,Delivery from Collection Point,8.0,1.3,15.98
998,2019-02-01,2BE4F3125A6,141.0,1.0,Premium,Delivery from Collection Point,15.0,1.8,19.98
999,2019-02-01,2BEDB1DF2DD,126.0,1.0,Premium,Delivery from Collection Point,10.0,1.5,15.98

In [9]:
march_purchases_df['BOX_COUNT'].unique()

array([ 1., nan, -1.,  2.,  4.,  3.,  8.,  6.,  5.,  7.,  9., 19., 10.,
       11., 13.])

In [10]:
march_purchases_df['MILK'].isna().sum()

34

In [11]:
march_purchases_df['MEAT'].isna().sum()

34

In [12]:
df3 = pd.read_csv('problem 1.csv')
df3

         MAGIC_KEY
0      28D5BB06356
1      293BEAB4E98
2      2962EE8065C
3      2957BE29EA9
4      28E351A0745
...            ...
58684  28FB7C09776
58685  28E0E3B69BF
58686  28D343103A7
58687  290B1D6D5CB
58688  28FF193CB94

[58689 rows x 1 columns]

In [13]:
values_to_check = df3['MAGIC_KEY']

In [14]:
df3['Is_in_dataset2'] = march_purchases_df['MAGIC_KEY'].isin(values_to_check)

In [15]:
df3

         MAGIC_KEY  Is_in_dataset2
0      28D5BB06356           False
1      293BEAB4E98           False
2      2962EE8065C           False
3      2957BE29EA9           False
4      28E351A0745           False
...            ...             ...
58684  28FB7C09776           False
58685  28E0E3B69BF            True
58686  28D343103A7           False
58687  290B1D6D5CB            True
58688  28FF193CB94           False

[58689 rows x 2 columns]

In [16]:
df3['Is_in_dataset2'].unique()

array([False,  True])

In [18]:
df3['Is_in_dataset2'].value_counts()

Is_in_dataset2
False    52383
True      6306
Name: count, dtype: int64

In [19]:
march_purchases_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1077958 entries, 0 to 1115129
Data columns (total 9 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   PURCHASE_DATE    1077958 non-null  datetime64[ns]
 1   MAGIC_KEY        1077958 non-null  object
 2   BOX_ID           1077934 non-null  float64
 3   BOX_COUNT        1077934 non-null  float64
 4   QUALITY          1077924 non-null  object
 5   DELIVERY_OPTION  1077924 non-null  object
 6   MILK             1077924 non-null  float64
 7   MEAT             1077924 non-null  float64
 8   UNIT_PRICE       1077924 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(3)
memory usage: 114.5+ MB